.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    color: black;
}
.header a {
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    color: black;
}